.footer {
    width: 100%;
    position: sticky;
    display: block;
    color: white;
    padding-bottom: 5rem;
    padding-top: 2.5rem;
    max-width: 100%;
    background: rgba(16, 18, 27, 0.50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    border: 1px solid rgba(255, 255, 255, 0.28);

}

.copyright{
    display: flex;
    justify-content: left;
    padding-left: 1rem;
    max-width: 100vw;
    margin-bottom: .5rem;
    color: white;
}

.instagram{
    padding-left: 1rem;
    padding-right: 1px;
}

.facebook{
    padding-left: 1rem;
    padding-right: 1px;
}

.twitter{
    padding-left: 1rem;
    padding-right: 1px;
}

a:link, a:visited,  a:hover, a:active {
    text-decoration: none; 
    color: white; 
}