.header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Arvo', serif;
    font-size: 5vw;
    color: white;
    z-index: 100;
    background: linear-gradient(to bottom, #02386E, #00172D);
    color:#FCC039;
    box-shadow: 0px 1px 5px black;
    padding-bottom: 15px;
    cursor: pointer;
    top: 0;
}

@media (max-width: 1000px){
    .header{
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 6.8vw;
    }
}
