.header{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    color: white;
    z-index: 100;
    background-color: #1E4488;
    color:#FCC039;
}

@media (max-width: 1000px){
    .header{
        padding-top: 15px;
        padding-bottom: 10px;
        font-size: 6.8vw;
    }
}
