.reviews{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    min-width: 100%;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    border: 1px solid rgba(255, 255, 255, 0.28);

    @media (max-width: 1200px){
        display: none;
    }
}

.icon{
    width: 14.5vw;
    height: 12.5vh;
    padding: 2rem  2.4rem;
    filter: saturate(20%);
    cursor: pointer;
}

.icon:hover{
    filter: saturate(100%)
}

a:link, a:visited,  a:hover, a:active {
    text-decoration: none; 
    color: white; 
}