* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

.App {
    padding-top: 130px;
}

@media (max-width: 700px){
    .App{
        padding-top: 70px;
    }
}


@import "./header"