* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to bottom, #1B2845, #1B2845);
    min-height: 100vh;
    min-width: 100vw;
}

h2{
    color: white;
}


.app {
    min-height: 100vh;
    padding-top: 130px;
    padding-bottom: 70px;
    
    @media (max-width: 700px){
        .app{
            padding-top: 70px;
        }
    }
  }

.pageTitle {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(2.2px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    margin-top: 1.5rem;
  
    @media (max-width:1000px){
        font-size: 6.4vw;
    }

    @media (max-width:500px){
        font-size: 10vw;
        margin-top: 0;

    }
}

@import "./header";
@import "./singleContent";
@import "./trending";
@import "./footer";
@import "./ContentModal.scss";
@import "./BubblesEffect"