
.contentModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  color: white;
  overflow-y: scroll;
  scrollbar-width: none;
}

.contentModalAbout{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 200;
}

.tagline{
  align-self: center;
  padding-bottom: 10px;
  padding-top: 1rem;
  font-size: 1rem;
}


.contentModalDescription{
  display: flex;
  height: 40%;
  overflow-y: scroll;
  padding: 15px;
  border-radius: 20px;
  scrollbar-width: thin; 
  text-align: justify;
  margin-bottom: 2rem;
}

.contentModal::-webkit-scrollbar {
  display: none;
}

@media (min-width: 835px) {
  .contentModalPortrait {
    display: flex;
    width: 40%;
  }
  .contentModal {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }
  .contentModalAbout {
    width: 60%;
    padding: 0;
    height: 100%;
  }
  .contentModalTitle {
    font-size: 3.5vw;
  }
  .contentModalDescription {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .contentModal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contentModalPortrait {
    display: none;
}
}